<!DOCTYPE html>
<html lang="es">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Mercado Libre</title>
	<link rel="icon" href="/public/images/favicon.png" type="image/png" />
	<link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>

<!-- SEARCH BAR-->

	<header class="searchbar-container">
		<nav class="searchbar">
			<form method="get" action="/items">
			<a tabindex="-1" class="logo-ml" href="/">Mercado Libre</a>
				<input tabindex="1" id="search" type="text" name="search" placeholder="Nunca dejes de buscar" aria-label="¿Qué desea buscar?">
				<button tabindex="2" id="search-btn" class="search-btn" aria-label="Buscar"></button>
			</form>
		</nav>
	</header>

<!-- MAIN: DETALLE ITEM -->

	<main class="main-container">
		<div class="main-content">
			<nav class="breadcrumb">
				<ul id="breadcrumb-path" class="breadcrumb-path"></ul>
			</nav>
			<section id="listing-container" class="listing-container">
				<article class="listing-details">
					<div id="listing-left" class="listing-left"></div>
					<div id="listing-right" class="listing-right"></div>
				</article>
			</section>
			<div id="bottom" class="bottom"></div>
		</div>
	</main>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/public/js/functions.js"></script>
<script src="/public/js/detalle.js"></script>
</body>
</html>