<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>Mercado Libre</title>
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
</head>
<body>

<!-- SEARCH BAR-->

	<header class="searchbar-container">
		<nav class="searchbar">
			<form method="get" action="/items">
			<a class="logo-ml" href="/">Mercado Libre</a>
				<input tabindex="1" id="search" type="text" name="search" placeholder="Nunca dejes de buscar" aria-label="¿Qué desea buscar?">
				<button tabindex="2" id="search-btn" class="search-btn" aria-label="Buscar"></button>
			</form>
		</nav>
	</header>

	<main style="padding-top: 55px;">
		<div id="ml-response">
			
		</div>
	</main>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/public/js/functions.js"></script>
<script src="/public/js/detalle.js"></script>
</body>
</html>