@import "helper/others";


// GLOBAL ELEMENTS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	body {
	background-color: $whitegrey;
	font-family: $fonts;
	font-size: 16px;
	color: $darkbg;
		// SEARCH BAR
		.searchbar-container {
			width: 100%;
			height: 55px;
			padding: 0 1rem;
			position: fixed;
			display: flex;
			align-items: center;
			background-color: $yellow;
			.searchbar {
				max-width: $max-width;
				width: 100%;
				margin: 0 auto;
				form {
					display: flex;
					align-items: center;
					.logo-ml {
					width: 53px;
					min-width: 53px;
					height: 36px;
					background-image: url(/public/images/logo_ml.png);
					background-repeat: no-repeat;
					//Hides text
					text-indent: 100%;
    				white-space: nowrap;
    				overflow: hidden;
					}
					input {
						width: 100%;
						height: $input-h;
						margin-left: 2.5rem;
						padding: 0 1.5rem;
						border: none;
						border-radius: 2px 0 0 2px;
						display: inline;
						font-size: 1.8rem;
						font-family: $fonts;
					}
					.search-btn {
						width: 40px;
						height: $input-h;
						background-color: $whitegrey;
						border: none;
						border-radius: 0 2px 2px 0;
						cursor: pointer;

						background-image: url('/public/images/ic_search.png');
					    background-repeat: no-repeat;
					    background-position: center;
					}
				}
			}
			@media screen and (max-width: $breakpoint){
			    .searchbar {
			    	max-width: $max-width-small;
			    }
			}
		} //END SEARCH BAR
	}
}


.main-container {
	padding: 55px 1rem 0;
	.main-content {
		max-width: $max-width;
		width: 100%;
		margin: 0 auto;
		.bottom {
			height: 50px;
		}
	}
	@media screen and (max-width: $breakpoint){
	    .main-content {
	    	max-width: $max-width-small;
	    }
	}
}

// SEARCH BREADCRUMB

.breadcrumb {
	margin: 0;
	padding: $normal 0;
	font-size: 1.4rem;
	font-family: $fonts;
	color: $lightbg;
	.breadcrumb-path {
		i {
			padding: 0 0.8rem;
		}
		li {
			display: inline;
			list-style-type: none;
			
		&:last-child {
			font-weight: bold;
		}
		}
	}
}


// SEARCH RESULTS

.search-results {
	@extend %main-section;
	padding: 0 $normal;
	.result {
		width: 100%;
		padding: $normal 0;
		display: flex;
		border-bottom: $whitegrey solid 1px;
		&:last-child {
			border-bottom: none;
		}
		.item-image {
			display: inline-block;
			height: $thumb;
			a {
				height: 100%;
				.item-thumb {
				width: $thumb;
				height: $thumb;
				border-radius: 4px;
				}
			}
		}
		.item-basicdata {
			width: 45%;
			overflow: hidden;
			@extend %results-item-databox;
			.item-price {
				.price {
					font-size: 2.4rem;
					sup {
						padding: 0.2rem;
						font-size: 1.4rem;
					}
				}
				.free-shipping {
					width: 18px;
					height: 18px;
					margin-left: 1rem;
					display: inline-block;
					background-image: url('/public/images/ic_shipping.png');
					background-repeat: no-repeat;
				}
			}
			.item-title {
				padding-top: $double;
				.title {
					font-size: 1.8rem;
					a {
						color: #000;
						text-decoration: none;
					}
				}
			}
		}
		.item-place {
			@extend %results-item-databox;
			margin-left: 18%;
			.place {
				font-size: 1.2rem;
				vertical-align: -30%;
			}
		}
	}
}





// DETALLE

.listing-container {
	@extend %main-section;
	padding: $double;
	.listing-details {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		font-family: $fonts;
	}
}

// IMAGEN Y DESCRIPCION

.listing-left {
	max-width: 680px;
	width: 80%;
	.listing-image {
		width: 100%;
		.listing-img {
			width: 100%;
		}
	}
	.listing-description {
		width: 100%;
		padding-top: $double;
		.description-title {
			font-size: 2.8rem;
		}
		.description-full {
			margin-top: $double;
			line-height: 150%;
			font-size: 1.6rem;
			color: $lightbg;
		}
	}
}



// DATA

.listing-right {
	flex: 1;
	display: flex;
	flex-direction: column;
	.condition-sold {
		font-size: 1.4rem;
	}
	.listing-title {
		margin-top: $normal;
		font-size: 2.4rem;
		font-weight: bold;
	}
	.listing-price {
		margin-top: $double;
		font-size: 4.6rem;
		display: flex;
		align-items: center;
		sup {
			padding: 0.2rem;
			font-size: 2.6rem;
			margin-bottom: 1.5rem;
		}
		.free-shipping-big {
			width: 36px;
			height: 36px;
			margin-left: 1rem;
			display: inline-block;
			background-image: url('/public/images/ic_shipping_2x.png');
			background-repeat: no-repeat;
		}
	}
	.btn-buy {
		margin-top: $double;
		padding: 1rem 0;
		display: block;
		border: none;
		border-radius: 2px;
		background-color: $btnblue;
		font-size: 1.6rem;
		color: $whitegrey;
		cursor: pointer;
	}
}

/*
@media screen and (max-width: $breakpoint){
    .searchbar {
    	max-width: $max-width-small;
    }

    .main-content {
    	max-width: $max-width-small;
    }
}
*/