@font-face {
  font-family: 'Nimbus Sans';
  src: url("/public/fonts/nimbussansl-regular.otf"); }

.search-results, .listing-container {
  width: 100%;
  border-radius: 4px;
  background-color: white; }

.search-results .result .item-basicdata, .search-results .result .item-place {
  padding: 15px 16px;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html body {
    background-color: #eee;
    font-size: 16px; }
    html body .searchbar-container {
      width: 100%;
      height: 55px;
      padding: 0 1rem;
      position: fixed;
      display: flex;
      align-items: center;
      background-color: #ffe600; }
      html body .searchbar-container .searchbar {
        max-width: 1020px;
        width: 100%;
        margin: 0 auto; }
        html body .searchbar-container .searchbar form {
          display: flex;
          align-items: center; }
          html body .searchbar-container .searchbar form .logo-ml {
            width: 53px;
            min-width: 53px;
            height: 36px;
            background-image: url(/public/images/logo_ml.png);
            background-repeat: no-repeat;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden; }
          html body .searchbar-container .searchbar form input {
            width: 100%;
            height: 38px;
            margin-left: 2.5rem;
            padding: 0 1.5rem;
            border: none;
            border-radius: 2px 0 0 2px;
            display: inline;
            font-size: 1.8rem;
            font-family: Helvetica, Arial, sans-serif; }
          html body .searchbar-container .searchbar form .search-btn {
            width: 40px;
            height: 38px;
            background-color: #eee;
            border: none;
            border-radius: 0 2px 2px 0;
            cursor: pointer;
            background-image: url("/public/images/ic_search.png");
            background-repeat: no-repeat;
            background-position: center; }

.main-container {
  padding: 55px 1rem 0; }
  .main-container .main-content {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto; }

.breadcrumb {
  margin: 0;
  padding: 16px 0;
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #999; }
  .breadcrumb .breadcrumb-path i {
    padding: 0 0.8rem; }
  .breadcrumb .breadcrumb-path li {
    display: inline;
    list-style-type: none; }
    .breadcrumb .breadcrumb-path li:last-child {
      font-weight: bold; }

.search-results {
  padding: 0 16px; }
  .search-results .result {
    width: 100%;
    padding: 16px 0;
    display: flex;
    border-bottom: #eee solid 1px; }
    .search-results .result:last-child {
      border-bottom: none; }
    .search-results .result .item-image {
      display: inline-block;
      height: 180px; }
      .search-results .result .item-image a {
        height: 100%; }
        .search-results .result .item-image a .item-thumb {
          width: 180px;
          height: 180px;
          border-radius: 4px; }
    .search-results .result .item-basicdata {
      width: 45%;
      overflow: hidden; }
      .search-results .result .item-basicdata .item-price .price {
        font-size: 2.4rem; }
        .search-results .result .item-basicdata .item-price .price sup {
          padding: 0.2rem;
          font-size: 1.4rem; }
      .search-results .result .item-basicdata .item-price .free-shipping {
        width: 18px;
        height: 18px;
        margin-left: 1rem;
        display: inline-block;
        background-image: url("/public/images/ic_shipping.png");
        background-repeat: no-repeat; }
      .search-results .result .item-basicdata .item-title {
        padding-top: 32px; }
        .search-results .result .item-basicdata .item-title .title {
          font-size: 1.8rem; }
          .search-results .result .item-basicdata .item-title .title a {
            color: #000;
            text-decoration: none; }
    .search-results .result .item-place {
      margin-left: 18%; }
      .search-results .result .item-place .place {
        font-size: 1.2rem;
        vertical-align: -30%; }

.listing-container {
  padding: 32px; }
  .listing-container .listing-details {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: Helvetica, Arial, sans-serif;
    color: #333; }

.listing-left {
  max-width: 680px;
  width: 80%; }
  .listing-left .listing-image {
    width: 100%; }
    .listing-left .listing-image .listing-img {
      width: 100%; }
  .listing-left .listing-description {
    width: 100%;
    padding-top: 32px; }
    .listing-left .listing-description .description-title {
      font-size: 2.8rem; }
    .listing-left .listing-description .description-full {
      margin-top: 32px;
      line-height: 150%;
      font-size: 1.6rem;
      color: #999; }

.listing-right {
  flex: 1;
  display: flex;
  flex-direction: column; }
  .listing-right .condition-sold {
    font-size: 1.4rem; }
  .listing-right .listing-title {
    margin-top: 16px;
    font-size: 2.4rem;
    font-weight: bold; }
  .listing-right .listing-price {
    margin-top: 32px;
    font-size: 4.6rem;
    display: flex;
    align-items: center; }
    .listing-right .listing-price sup {
      padding: 0.2rem;
      font-size: 2.6rem;
      margin-bottom: 1.4rem; }
    .listing-right .listing-price .free-shipping-big {
      width: 36px;
      height: 36px;
      margin-left: 1rem;
      display: inline-block;
      background-image: url("/public/images/ic_shipping_2x.png");
      background-repeat: no-repeat; }
  .listing-right .btn-buy {
    margin-top: 32px;
    padding: 1rem 0;
    display: block;
    border: none;
    border-radius: 2px;
    background-color: #3483FA;
    font-size: 1.6rem;
    color: #eee;
    cursor: pointer; }
