$yellow: #ffe600;
$darkbg: #333;
$mediumbg: #666;
$lightbg: #999;
$whitegrey: #eee;
$btnblue: #3483FA;

$breakpoint: 1100px;
$breakpoint-sm: 861px;
$max-width: 1020px;
$max-width-small: 860px;
$input-h: 38px;
$normal: 16px;
$double: $normal * 2;
$thumb: 180px;

$fonts: 'Helvetica Neue', Helvetica, Arial, sans-serif;

%main-section {
	width: 100%;
	border-radius: 4px;
	background-color: white;
}

%results-item-databox {
	padding: 15px $normal;
	display: inline-block;
	font-family: $fonts;
}