@font-face {
    font-family: Nimbus Sans;
    src: url(/public/fonts/nimbussansl-regular.otf);
}

@font-face {
    font-family: Proxima Nova;
    src: url(/public/fonts/proximanova-regular.otf);
}


$yellow: #ffe600;
$darkbg: #333;
$lightbg: #999;
$whitegrey: #eee;

$input-h: 38px;