@font-face {
    font-family: 'Nimbus Sans';
    src: url('/public/fonts/nimbussansl-regular.otf');
}



$yellow: #ffe600;
$darkbg: #333;
$mediumbg: #666;
$lightbg: #999;
$whitegrey: #eee;
$btnblue: #3483FA;

$max-width: 1020px;
$max-width-small: 800px;
$input-h: 38px;
$normal: 16px;
$double: $normal * 2;
$thumb: 180px;

$fonts: 'Helvetica Neue', Helvetica, Arial, sans-serif;

%main-section {
	width: 100%;
	border-radius: 4px;
	background-color: white;
}

%results-item-databox {
	padding: 15px $normal;
	display: inline-block;
	font-family: $fonts;
}



@media screen and (max-width: 1100px) and (min-width: 800px) {
    .searchbar {
    	max-width: $max-width-small;
    }

    .main-content {
    	max-width: $max-width-small;
    }
}